@media (min-width: 1280px){
    .container {
        max-width: 1280px;
    }
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1024px) {
    .register:before {
        display: none;
    }

    #home {
        overflow: hidden;
    }
}

@media screen and (min-width: 900px) and (max-width: 1024px) {
    .section-slide:before {
        right: -560px !important;
    }

    #home {
        padding-top: 68px !important;
    }
}

@media screen and (min-width: 768px) and  (max-width: 900px) {
    .logo.navbar-brand {
        display: none;
    }

    .logo.navbar-brand-scroll {
        display: block;
        margin-left: 25px;
    }

    .custom-nav .navbar-brand.logo img {
        height: 50px !important;
    }
    .navbar-collapse li {
        float: left;
    }

    .navbar-collapse .navbar-nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: revert;
        flex-direction: revert;
    }

    .container {
        max-width: 100% !important;
    }

    .section-slide-text {
        -ms-flex: 0 0 60% !important;
        flex: 0 0 60% !important;
        max-width: 60% !important;
    }

    .section-slide-img {
        -ms-flex: 0 0 40% !important;
        flex: 0 0 40% !important;
        max-width: 40% !important;
    }

    .section-slide .img-thumb {
        right: 16px !important;
    }

    .section-slide-text {
        padding-left: 25px !important;
    }

    .section-slide-text h1 {
        font-size: 32px !important;
        color: #ffffff !important;
        line-height: 48px !important;
        margin-top: 0px !important;
    }

    .section-slide-text .p-text, .section-slide li {
        color: #fff !important;
    }

    /*    -----*/
    .section-salepage {
        z-index: 6;
    }

    .register .content-left, .register .content-right {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .register-content .content-left .content-in {
        max-width: 100% !important;
        margin-left: 0px !important;
        text-align: center;
    }

    .register-content .content-left .content-in ul {
        display: flex;
    }

    .content-left .content-in ul li {
        margin-left: 10px;
    }

    .content-right .content-in {
        max-width: 430px;
        width: 430px;
        margin-left: 50%;
        transform: translateX(-50%);
        display: inline-block;
        text-align: center;
        margin-top: 30px;
    }

    .section-slide {
        min-height: 900px !important;
        padding-bottom: 0px !important;
        overflow-x: hidden;
    }

    .section-salepage .content-left, .section-salepage .content-right {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .section-salepage .content-right .content-in {
        max-width: 100%;
        width: 100%;
        margin-left: 0% !important;
        transform: translateX(0%) !important;
        display: inline-block;
        text-align: center;
        margin-top: 0px;
    }

    .section-salepage .content-left {
        text-align: center;
    }

    .section-salepage .content-left img {
        margin-left: 0px;
        max-width: 600px;
        margin-bottom: 25px;
    }

    .register-content {
        max-width: 96% !important;
        margin-left: 2% !important;
    }

    .content-left .content-in h2 {
        font-size: 24px !important;
    }

    .content-left .content-in ul li {
        font-size: 16px !important;
    }
    .price-item{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 30px;
    }
    .service-item{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .section-price {
      padding-bottom: 0px;
    }
}

@media screen and (min-width: 500px) and  (max-width: 767px) {

}

@media screen and (max-width: 767px) {
    .price-item {
        margin-bottom: 20px;
    }
    #navbarCollapse {
        background: var(--blue-main);
    }

    .logo.navbar-brand {
        display: none;
    }

    .custom-nav .login_btn {
        border: 0px solid #FFFFFF !important;
        background: transparent;
        color: #FFFFFF;
        padding: 0px !important;
    }

    .logo.navbar-brand-scroll {
        display: block;
        margin-left: 25px;
    }

    .section-slide .img-thumb img {
        width: 100%
    }

    .section-slide-text h1 {
        font-size: 28px !important;
        color: #ffffff !important;
        line-height: 40px !important;
        margin-top: 0px !important;
        text-align: center !important;
    }

    .section-slide-text .p-text {
        color: #fff !important;
        text-align: center !important;
    }

    .section-slide li {
        color: #fff !important;
    }

    .section-slide-btn {
        width: 100%;
    }

    .section-slide .img-thumb {
        width: 100%;
        position: relative !important;
        right: auto !important;
        top: auto !important;
    }

    .register-content .content-left .content-in {
        max-width: 100% !important;
        margin-left: 0px !important;
    }

    .register h2 {
        font-size: 26px !important;
        line-height: 38px !important;
    }

    .btn-register {
        min-width: 100% !important;
    }

    .register-content .content-right {
        margin-top: 20px;
    }

    .section-salepage .row {
        display: flex;
        flex-direction: column-reverse
    }

    .section-salepage .content-in {
        margin-top: 0% !important;
        transform: translateY(0%) !important;
    }

    .register {
        padding-bottom: 0px !important;
    }

    .register-content {
        padding: 35px 20px !important;
    }
}

@media screen and (max-width: 400px) {

}

@media screen and (max-width: 380px) {

}

@media screen and (max-width: 320px) {

}
